<div class='wrapper'>
  <div class='side-bar'>
    <div class='side-bar-header'>
      ＜サイドバー＞
    </div>

    <div class='side-bar-room'>
      ＜ルーム1＞
    </div>
  </div>

  <div class='main-bar'>
    <div class='main-bar-header'>
      ＜メインバー＞
    </div>
    <div class='main-bar-chat'>
      あああああああああああ
    </div>
    <div class='main-bar-message'>
    あ
    </div>
  </div>
</div>