<div class='wrapper'>
  <div class='side-bar'>
    <div class='side-bar-header'>
      <div class="header-name">
         <a href="#">Tom</a>
      </div>
      <div class="create-room">
        <a href="#">チャットを作成する</a>
      </div>
    </div>

    <div class='side-bar-room'>
      <div class="room">
        <div class="room-name">
          <a href="#">room1</a>
        </div>
      </div>
      <div class="room">
        <div class="room-name">
          <a href="#">room2</a>
        </div>
      </div>
    </div>
  </div>

  <div class='main-bar'>
    <div class='main-bar-header'>
      <div class="left-header">
        <div class="header-title">
          hogefuga
        </div>
      </div>
      <div class="right-header">
        <div class="header-button">
          <a href="#">チャットを終了する</a>
        </div>
      </div>
    </div>

    <div class='main-bar-chat'>
      <div class="message">
        <div class="upper-message">
          <div class="message-user">
            Tom
          </div>
          <div class="message-date">
            2020/3/31(Wed) 12:43:30
          </div>
        </div>
        <div class="lower-message">
          <div class="message-content">
            おはよう
          </div>
        </div>
      </div>

      <div class="message">
        <div class="upper-message">
          <div class="message-user">
            Tom
          </div>
          <div class="message-date">
            2020/3/31(Wed) 12:47:30
          </div>
        </div>
        <div class="lower-message">
          <div class="message-content">
            こんばんは
          </div>
        </div>
      </div>
    </div>
    <div class='main-bar-message'>
      
    </div>
  </div>
</div>