<div class='wrapper'>
  <div class='side-bar'>
    <div class='side-bar-header'>
      <div class="header-name">
         <a href="#">Tom</a>
      </div>
      <div class="create-room">
        <a href="#">チャットを作成する</a>
      </div>
    </div>

    <div class='side-bar-room'>
      <div class="room">
        <div class="room-name">
          <a href="#">room1</a>
        </div>
      </div>
      <div class="room">
        <div class="room-name">
          <a href="#">room2</a>
        </div>
      </div>
    </div>
  </div>

  <div class='main-bar'>
    <div class='main-bar-header'>
      <div class="left-header">
        <div class="header-title">
          hogefuga
        </div>
      </div>
      <div class="right-header">
        <div class="header-button">
          <a href="#">チャットを終了する</a>
        </div>
      </div>
    </div>
    <div class='main-bar-chat'>
      あああああああああああ
    </div>
    <div class='main-bar-message'>
    あ
    </div>
  </div>
</div>