* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
}

.chat-top-page {
  text-align: center;
  background-color: rgb(114, 110, 110);
  padding: 20px;
}

.product-icon {
  font-size: 80px;
  padding-top: 5px;
  text-align: center;
  text-decoration: none;
  color: #f8f8f8;
}

.nav-one {
  font-size: 18px;
  width: 100%;
  margin: 5vh;
  display: flex;
  justify-content: space-around;
}

.lists-left {
  display: flex;
  min-width: 200px;
}

.new-list {
  text-decoration: none;
  padding: 1rem 3rem;
  border-radius: 10px;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#209cff), to(#68e0cf));
  background-image: -webkit-linear-gradient(left, #209cff 0%, #68e0cf 100%);
  background-image: linear-gradient(to right, #209cff 0%, #68e0cf 100%);
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  font-weight: bold;
  padding: 1rem 3rem;
  border-radius: 10px;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#209cff), to(#68e0cf));
  background-image: -webkit-linear-gradient(left, #209cff 0%, #68e0cf 100%);
  background-image: linear-gradient(to right, #209cff 0%, #68e0cf 100%);
}

.mypage {
  text-decoration: none;
  margin-right: 3vw;
  font-weight: bold;
  padding: 1rem 3rem;
  border-radius: 10px;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#209cff), to(#68e0cf));
  background-image: -webkit-linear-gradient(left, #209cff 0%, #68e0cf 100%);
  background-image: linear-gradient(to right, #209cff 0%, #68e0cf 100%);
}

.logout {
  text-decoration: none;
  font-weight: bold;
  padding: 1rem 3rem;
  border-radius: 10px;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#209cff), to(#68e0cf));
  background-image: -webkit-linear-gradient(left, #209cff 0%, #68e0cf 100%);
  background-image: linear-gradient(to right, #209cff 0%, #68e0cf 100%);
}

.login {
  text-decoration: none;
  line-height: 32px;
  font-weight: bold;
  margin-right: 3vw;
  padding: 1rem 3rem;
  border-radius: 10px;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#209cff), to(#68e0cf));
  background-image: -webkit-linear-gradient(left, #209cff 0%, #68e0cf 100%);
  background-image: linear-gradient(to right, #209cff 0%, #68e0cf 100%);
}

.sign-up {
  text-decoration: none;
  font-weight: bold;
  padding: 1rem 3rem;
  border-radius: 10px;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#209cff), to(#68e0cf));
  background-image: -webkit-linear-gradient(left, #209cff 0%, #68e0cf 100%);
  background-image: linear-gradient(to right, #209cff 0%, #68e0cf 100%);
}
